
.theme-dark {
  --background-primary: #1E1E1E;
  --background-primary-alt: #161616;
  --background-secondary: #161616;
  --background-secondary-alt: #121212;
  --background-nav-alt: #121212;
  --background-nav: #161616;
  --nav-highlight: #2a2a2a;
  --text-selection: #868687;
  --text-accent: #6C7CFE;
  --text-accent-hover: #99A4FE;
  --text-normal: #d4d3cc;
  --text-muted: #868687;
  --text-faint: #575757;
  --text-error: #ff3333;
  --text-error-hover: #990000;
  --text-highlight-bg: #6C7CFE;
  --text-on-accent: #161616;
  --interactive-normal: #2c2c2c;
  --interactive-hover: #2c2c2c;
  --interactive-accent: #6C7CFE;
  --interactive-accent-hover: #99A4FE;
  --scrollbar-active-thumb-bg: #6C7CFE;
  --scrollbar-bg: #242424;
  --scrollbar-thumb-bg: #3c3b3a;
  --text-nav-selected: #6C7CFE;
  --interactive-accent-rgb: rgba(52,4,83,100);
}

.theme-light {
  --interactive-accent-rgb: #d6ba7c;
  --background-nav-alt: rgba(58, 62, 63, 255);
  --background-nav: rgba(41, 44, 46, 255);
  --background-primary: rgba(250, 250, 250);
  --nav-highlight: #d6ba7c;
  --code-block-background: #ffff;
  --code-block-border: #92a1a17a;
  --interactive-accent: #d6ba7c;
  --list-color: #d6ba7c;
  --text-accent: #d6ba7c;
  --text-faint: rgba(150, 150, 150, 255);
  --text-highlight-bg: #dbaa205e;
  --text-nav-selected: rgba(255, 255, 255, 255);
  --text-nav: rgba(190, 190, 190, 255);
  --text-normal: rgba(44, 44, 44, 255);
  --text-accent-hover: #d6ba7c;
  --interactive-accent-hover: #d6ba7c;
}

/* inline formatting, link targets and [[ ]] disappears if not active line*/
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-string.cm-url
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-math.cm-formatting-math-begin.cm-formatting-math.cm-formatting-math-end
/*
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link*/
{ display: none; }

/* Except list markers */
span.cm-formatting-list {
  display: inline !important;
}

/* Except #tags */
.cm-hashtag.cm-meta {
  display: inline !important;
  font-family: "Inconsolata", monospace !important;
}

/* Except block quotes */
.cm-quote {
  display: inline !important;
  font-family: "Inconsolata", monospace !important;
}

.cm-url {
  display: inline !important;
  font-family: "Inconsolata", monospace !important;
}

.cm-formatting-link-string {
    color: #575757 !important;
    text-decoration: none !important;
    font-family: "Inconsolata", monospace !important;
}

.cm-math { 
  color: #70ac8a !important;
  font-family: "Inconsolata", monospace !important;
}

.cm-formatting-math.cm-formatting-math-begin, .cm-formatting-math.cm-formatting-math-end {
  color: #c46a5b !important;
}


.span.cm-formatting-code-block.cm-hmd-codeblock {
  display: inline !important;
  font-family: "Inconsolata", monospace !important;
}

.cm-formatting-task {
  display: inline !important; 
  font-family: "Inconsolata", monospace !important; 
}

.side-dock-ribbon-tab.is-active {
  background-color: var(--background-secondary);
  color: var(--nav-highlight);
}

/* Draw line between Outline items */
.outline .pane-clickable-item {
  border-bottom: 1px solid #3c3b3a;
  margin: 0 0.3em 0 0;
  padding: 0.4em !important;
  line-height: 1.1em !important;
}

/* Text color for highlighted/marked */
mark, .cm-highlight {
  font-family: "Inconsolata", monospace !important;
  display: inline-block;
  font-weight: 400;
  color: #edecec !important;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-left: -0.12em;
  margin-right: -0.12em;
}

/* Markdown tag color for highlighted/marked */
/* 
.cm-formatting-highlight {
  color: #99A4FE !important;
  display: inline-block !important;
  position: relative;
  visibility: hidden;
  letter-spacing: -0.7em;
}
*/

/* Auto fade controls in note header*/
/*
.view-header:not(:hover) .view-actions {
  opacity: 0.2;
  transition: opacity .25s ease-in-out;
}
*/



/* Style search results */
.side-dock-collapsible-section-header.list-item {
  color: #575757;
  font-size: 0.85em;
  margin-top: 0.6em;
}


.search-result > .search-result-file-title.list-item {
  color: #6C7CFE;
  font-size: 1em;
  line-height: 1.1em;
}

.nav-action-button.is-active {
  color: #868687 !important;
  background-color: #2c2c2c !important;
}

.search-empty-state {
  display: none;
}

.search-result-collapse-indicator {
  color: #2c2c2c;
}

.side-dock-collapsible-section-header-indicator {
  color: #2c2c2c;
}


/* Fade status bar items */
.status-bar-item {
  opacity: 0.25;
  <--transition: opacity .25s ease-in-out;
}

/* Smaller scroll bars */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, ::-webkit-scrollbar {
  transform-origin: 0 0;
  width: 4px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

/* Scrollbar handle on active */
::-webkit-scrollbar-thumb:active {
  background: #6C7CFE;
}

/* Scrollbar handle on mouse wheel */
/*
*/

/* Make subtler folding gutter arrows */
.CodeMirror-foldgutter-folded:after, 
.CodeMirror-foldgutter-open:after {
    opacity: 0.4;
    font-size: 80%;
}

.CodeMirror-foldgutter-folded:hover:after, 
.CodeMirror-foldgutter-open:hover:after {
    opacity: 1;
}

.CodeMirror-foldgutter-folded:after {
    content: "\25BA";    
}

.CodeMirror-foldgutter-open:after {
    content: "\25BC";    
}

/* Style "File Explorer" text */
.side-dock-title {
  color: var(--text-nav);
  font-family: "Inconsolata", monospace !important;
}

/* Style nav text */
.nav-files-container {
  font-family: "Inconsolata", monospace !important;
  display: block;
  font-size: 1.1em !important;
}

/* Style search results */
.search-input, .search-result, .search-result-file-match {
  font-family: "Inconsolata", monospace !important;
  display: block !important;
  line-height: 1.3em !important;
}

/* Style nav folder titles */
.nav-folder-title {
  white-space: normal;
  font-weight: 900 !important;
  color: #575757 !important;
  font-family: "Inconsolata", monospace !important;
  display: block;
  font-size: 0.9em !important;
  line-height: 1em !important;
}

/* Style file titles */
.nav-file-title {
  white-space: normal;
  color: #868687 !important;
  font-family: "Inconsolata", monospace !important;
  display: block;
  font-size: 0.9em !important;
  line-height: 1em !important;
}

/* Indent wrapped nav text */
.nav-file-title-content {
  font-family: "Inconsolata", monospace !important;
  margin-left: 10px;
  text-indent: -10px;
}

/* Horizontal rule between icons and vault in nav */
.nav-buttons-container {
  border-bottom: 1px solid var(--background-nav-alt);
}

/* Style vault name in navigation pane */
.nav-folder.mod-root > .nav-file-title,
.nav-folder.mod-root > .nav-folder-title {
  color: #3c3b3a !important;
  font-family: "Inconsolata", monospace !important;
  display: block;
  font-size: 0.9em !important;
  line-height: 0.9em !important;
}

/* Add padding to left of nav items */
.nav-folder.mod-root > .nav-folder-children {
  padding-left: 5px;
}

/* Color of left nav tree text */
.nav-file-title,
.nav-folder-title {
  color: var(--text-nav);
}

/* Set the left nav background to same color as ribbon so we can make a curved corner that matches */
.side-dock-panels-container {
  background-color: var(--background-nav-alt);
}

/* Set the left nav background to different color from ribbon, and give a curved corner with statusbar */
.side-dock.mod-left .side-dock-plugin-panel {
  background-color: var(--background-nav);
  border-bottom-left-radius: 10px;
}

/* Set the right nav background to different color from ribbon, and give a curved corner with statusbar */
.side-dock.mod-right .side-dock-plugin-panel {
  background-color: var(--background-nav);
  border-bottom-right-radius: 10px;
}

/* Left nav ribbon background color */
.side-dock-ribbon {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active,
.side-dock-ribbon-after.is-after-active,
.side-dock-ribbon-tab.is-before-active,
.side-dock-ribbon-tab.is-after-active {
  background-color: var(--background-nav);
}

/* Left nav ribbon background-color */
.side-dock-ribbon-before.is-before-active 
.side-dock-ribbon-tab-inner,
.side-dock-ribbon-after.is-after-active 
.side-dock-ribbon-tab-inner,
.side-dock-ribbon-tab.is-before-active 
.side-dock-ribbon-tab-inner,
.side-dock-ribbon-tab.is-after-active 
.side-dock-ribbon-tab-inner {
  background-color: var(--background-nav-alt);
}

/* Left nav ribbon active background-color */
.side-dock-ribbon-tab.is-active {
  background-color: var(--background-nav);
}

/* Left nav ribbon active hover text color (icon color) */
.side-dock-ribbon-tab.is-active:hover {
  color: var(--nav-highlight);
}

/* Left nav ribbon inactive hover text color (icon color) */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover {
  color: var(--nav-highlight);
}

/* Background and text color of selected item in left nav tree */
.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-folder-title,
.nav-file.is-active > .nav-folder-collapse-indicator,
.nav-folder.is-active > .nav-file-title,
.nav-folder.is-active > .nav-folder-title,
.nav-folder.is-active > .nav-folder-collapse-indicator {
  background-color: #242424;
  color: #6C7CFE !important;
  border-radius: 0px !important;
}

/* Background and text color of hovered item in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: #121212 !important;
}

/* Background and text color of selected item in left nav tree - when hovering */
.nav-file.is-active > .nav-file-title:hover,
.nav-file.is-active > .nav-folder-title:hover,
.nav-file.is-active > .nav-folder-collapse-indicator:hover,
.nav-folder.is-active > .nav-file-title:hover,
.nav-folder.is-active > .nav-folder-title:hover,
.nav-folder.is-active > .nav-folder-collapse-indicator:hover {
  background-color: #242424 !important;
  color: #edecec !important;
}

/* Background and text color of hovered collapse indicator in left nav tree */
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  background-color: var(--background-secondary-alt);
  color: var(--text-nav-selected);
}

/* Left Nav menu item - hover background color */
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--background-nav-alt);
}

/* Left Nav menu item - hover background color of the collapse/expand arrow */
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  background-color: var(--background-nav-alt);
}

/* Left side dock */
.side-dock.mod-left {
  border-right: 1px solid var(--background-secondary-border);
}

/* Font adjustments for pane headers */
.view-header-title {
  font-family: "Inconsolata", monospace !important;
  font-size: 1em !important;
  padding-top: 1px;
  color: #575757 !important;
  font-weight: 400;
}

/* Status bar */
.status-bar {
  font-family: "Inconsolata", monospace !important;
  font-size: 1em !important;
  background-color: var(--background-nav-alt);
  border-top: 0px solid var(--background-nav-alt);
  color: var(--text-nav);
}

/* Context menu hover item */
.menu-item:hover {
  background-color: var(--background-secondary-alt);
  color: var(--nav-highlight);
}

/* Font for the markdown preview panel */
.markdown-preview-view {
  font-family: "Inconsolata", monospace !important;
  font-size: 1.1em !important;
}

/* Enable wrapping of code blocks in the preview panel */
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
  white-space: pre-wrap;
  background-color: #ffffff;
}


/* Change styling of individual header levels */
h1, .cm-header-1 {
  line-height: 1.1em !important;
  font-size: 1.7em !important;
  font-weight: 400 !important;
  text-decoration: none !important;
  color: #6C7CFE !important;
}

h2, .cm-header-2 {
  line-height: 1.1em !important;
  font-size: 1.3em !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  color: #d4d3cc !important;
}

h3, .cm-header-3 {
  line-height: 1.1em !important;
  font-size: 1.1em !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
  color: #6C7CFE !important;
}

h4, .cm-header-4 {
  line-height: 1.1em !important;
  font-size: 1.1em !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
  color: #d4d3cc !important;
}

h5, .cm-header-5 {
  line-height: 1.1em !important;
  font-size: 1em !important;
  font-weight: 600 !important;
  font-style: italic !important;
  text-decoration: underline !important;
  color: #6C7CFE !important;
}

h6, .cm-header-6 {
  line-height: 1.1em !important;
  font-size: 1em !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: #6C7CFE !important;
}

/* Change formatting for header display text */
.HyperMD-header {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

/* Changing size/color of the header hashtags ## */

.cm-formatting-header {
/*  font-weight: normal !important; */
  font-family: "Inconsolata", monospace !important;
  text-decoration: none !important;
  color: #c46a5b !important;
/*  font-size: 0.8em; */
  font-style: none !important;
/*  position: absolute; */
/*  top: -4px; */
}

/* Coloring the list bullets/numbers */
.cm-s-obsidian span.cm-formatting-list {
  font-family: "Inconsolata", monospace !important;
  color: #6C7CFE;
  font-size: 0.85em;
  font-weight: 500;
}

 ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #6C7CFE;
  font-size: 1.4em;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* Bullet point relationship lines */
/*
.cm-hmd-list-indent .cm-tab, ul ul { 
  position: relative;
  left: 0.1em;
}
*/

/*
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
  content:'';
  border-left: 1px solid #2c2c2c;
  position: absolute;
}
*/

/*
.cm-hmd-list-indent .cm-tab::before { 
  left: 50; 
  top: -5px; 
  bottom: -5px; 
}
*/

/*
ul ul::before { 
  left: -11px; 
  top: 0; 
  bottom: 0; 
} 
*/

/*Bullet list padding*/
/*
.HyperMD-list-line {
  padding-left: 1.5em !important; 
}
*/


/* Block cursor */
.CodeMirror-cursor { 
  display: inline-block !important;
  border-left-width: 0.2em !important;
  border-color: #E92EFF !important;
}

/* Editor view - task list, color and vertical align */
.cm-s-obsidian span.cm-formatting-task {
  color: #6C7CFE !important;
  font-size: 0.85em;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  top: -0.12em;
}

/* Preview Checkboxes don't seem to align correctly */
.markdown-preview-view .task-list-item-checkbox {
  width: 15px;
  height: 15px;
  /* position: relative; */
  /* top: 3px; */
}

/* Preview code block background */
.markdown-preview-view pre {
  padding: 1em;
  background-color: var(--code-block-background);
  border-radius: 4px;
  border: 1px solid var(--code-block-border);
  white-space: pre-wrap;
}

/* Code block border color */
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-top: 1px solid var(--code-block-border);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

/* Code block border color */
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-bottom: 1px solid var(--code-block-border);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

/* Code block background color */
.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: rgba(0,0,0,0.2) !important;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

/* Inline code background color */
.cm-inline-code {
  font-family: "Inconsolata", monospace !important;
  background-color: rgba(0,0,0,0.3) !important;
  display: inline-block;
}

.cm-formatting-code {
  color: #3c3b3a !important;
  font-family: "Inconsolata", monospace !important;
}

.cm-formatting-code-block {
  color: #3c3b3a !important
  font-family: "Inconsolata", monospace !important;
}

/* Code block left and right padding */
.cm-s-obsidian pre.HyperMD-codeblock {
  padding: 0px 0px 0px 10px;
}

/* Code block top padding */
.cm-s-obsidian pre.HyperMD-codeblock-begin {
  padding-top: 10px;
}

/* Code block bottom padding */
.cm-s-obsidian pre.HyperMD-codeblock-end {
  padding-top: 10px;
}

/* Code block left and right border colors */
.cm-s-obsidian div.HyperMD-codeblock-bg {
  border-left: 1px solid var(--code-block-border);
  border-right: 1px solid var(--code-block-border);
}

/* Add a tiny bit of padding to the link brackets and parenthesis */
.cm-s-obsidian span.cm-formatting-link,
.cm-s-obsidian span.cm-formatting-link-string {
  padding: 0 1px 0 1px;
  /* font-weight: 500; */
}

/* Change link style */
.cm-link.cm-hmd-barelink,
.cm-tag.cm-bracket.cm-hmd-html-begin,
.cm-tag, .HyperMD-list  {
  font-family: "Inconsolata", monospace !important;
  color: #feb06c !important;
  text-decoration: underline !important;
}

.internal-link, .cm-link {
  font-family: "Inconsolata", monospace !important;
  color: #23A3EC !important;
  text-decoration: none !important;
}

.cm-formatting.cm-formatting-link {
  font-family: "Inconsolata", monospace !important;
  color: #575757 !important;
}

/* Set background of code panes to pure white since main background is off-white */
.markdown-preview-view code {
  font-family: "Inconsolata", monospace !important;
  background-color: rgba(0, 0, 0, 0);
  bottom: 0px;
  font-size: 0.9em;
  background-color: rgba(0,0,0,0.3) !important;
}

/* Change markdown tags for bold */
.cm-formatting-strong {
  font-family: "Inconsolata", monospace !important;
  font-wieght: 400 !important;
  font-size: 1em !important;
  color: #c46a5b !important;
}
strong, .cm-strong {
  font-family: "Inconsolata", monospace !important;
  color: #99A4FE !important;
  font-weight: 900 !important;
}

/* Change markdown tags for italic */
.cm-formatting-em {
  font-family: "Inconsolata", monospace !important;
  font-wieght: 400 !important;
  font-size: 1em !important;
  color: #c46a5b !important;
}

em, .cm-em {
  font-family: "Inconsolata", monospace !important;
  color: #17D1CF !important;
}

.cm-formatting.cm-formatting-link:nth-child(4), .cm-link {
  font-family: "Inconsolata", monospace !important;
  font-decoration: none;
  font-weight: 900;
}


/* Change markdown tags for strikethrough */
.cm-formatting-strikethrough {
  font-family: "Inconsolata", monospace !important;
  font-wieght: 400 !important;
  font-size: 1em !important;
  color: #575757 !important;
}

/* Change text style for strikethrough */
s, .cm-strikethrough {
  font-family: "Inconsolata", monospace !important;
  font-wieght: 400 !important;
  font-size: 1em !important;
  color: #575757 !important;
}

/* Change horizontal line style */
.HyperMD-hr-bg {
  background: rgba(108, 124, 255, 0.2);
  height: 1px;
  margin-top: 15px;
}

.cm-hr {
  font-family: "Inconsolata", monospace !important;
  font-weight: 900;
  color: transparent !important;
  padding-left: 1px !important;
}

/* Additional left/right padding for tag pane so hover background has some room */
.tag-pane-tags {
  font-family: "Inconsolata", monospace !important;
  font-size: 1em !important;
  padding-left: 10px;
  padding-right: 5px;
}

/* Color the hover background like we do the selected left nav */
.tag-pane-tag:hover {
  background-color: var(--background-nav-alt);
  color: var(--text-nav-selected);
}

/* Style the tag pane tag count */
.tag-pane-tag-count {
  font-family: "Inconsolata", monospace !important;
  font-size: 1em !important;
  background-color: var(--nav-highlight);
  color: var(--text-nav-selected);
}

/* Backlinks title match hover */
.search-result-file-title:hover {
  background-color: var(--background-nav-alt);
}

/* Backlinks content match hover */
.search-result-file-match:hover {
  background-color: var(--background-nav-alt);
}

/* Backlink titles for matches */
.search-result-file-title {
  font-family: "Inconsolata", monospace !important;
  color: var(--text-nav);
}

.backlink-pane {
  font-family: "Inconsolata", monospace !important;
  display: block !important;
  line-height: 1.1em !important;
}

.tag-pane-tag-text {
  font-family: "Inconsolata", monospace !important;
  display: block;
  font-size: 1.1em !important;
  line-height: 1.1em !important;
}

.CodeMirror-code {
  font-family: "Inconsolata", monospace !important;
  line-height: 1.2em !important;
}

/* Backlink highlighted [[links]] */
.search-result-file-matched-text {
  font-family: "Inconsolata", monospace !important;
  color: var(--text-nav-selected);
  background-color: var(--nav-highlight);
  padding: 2px;
  border-radius: 4px;
}

/* Monospace font in editor */
.markdown-source-view { 
  font-family: "Inconsolata", monospace !important;
  font-size: 1.1em;
}

/* Style font in outline panel */
.outline .pane-clickable-item {
  font-family: "Inconsolata", monospace !important;
  font-size: 1em;
  padding: 0.25em 5px;
  line-height: 1.1em;
}

.outline-heading-children {
  margin-left: 5px;
}

.workspace-leaf-content[data-type="outline"].view-content {
  background-color: #242424 !important;
}

.cm-formatting-link {
  color: #3c3b3a !important;
  font-weight: 400;
}

.cm-formatting-link.cm-link {
  color: #3c3b3a !important;
  font-weight: 400;
}

.cm-link {
  display: inline !important;
}
